:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 6px;
    --theme: rgb(245, 245, 245);
    --entry: rgb(228, 238, 241);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(228, 238, 241);
    --content: rgb(31, 31, 31);
    --hljs-bg: rgb(28, 29, 33);
    --code-bg: rgb(228, 238, 241);
    --border: rgb(55, 69, 72);
    --accent: rgb(224, 56, 56);
    --accent-dark: rgb(132, 51, 51);
}

.dark {
    --theme: rgb(51, 51, 51);
    --entry: rgb(55, 69, 72);
    --primary: rgb(218, 218, 219);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(55, 69, 72);
    --content: rgb(196, 196, 197);
    --hljs-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(230, 230, 230);
}

.list {
    background: var(--theme);
}

.dark.list {
    background: var(--theme);
}
