{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    <h1 class="post-title">
      {{ .Title }}
    </h1>
  </header>

  {{- if .Content }}
  <div class="post-content">
  {{ .Content }}
  </div>
  {{- end }}

  <footer class="post-footer">
    {{- if (and .Site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
    {{- partial "share_icons.html" . -}}
    {{- end }}
  </footer>
</article>

{{- end }}{{/* end main */}}
