{{- $pageurl := .Permalink }}
{{- $title := .Title }}

{{- $.Scratch.Set "tags" ""}}

{{- with .Params.Tags }}
{{- $hashtags := newScratch}}
{{- range . }}{{ $hashtags.Add "tags" (slice (replaceRE "(\\s)" "" . ))}}{{end}}
{{- $.Scratch.Set "tags" (delimit ($hashtags.Get "tags") ",") }}
{{- end -}}

{{- $custom := false }}
{{- $ShareButtons := (.Param "ShareButtons")}}
{{- with $ShareButtons }}{{ $custom = true }}{{ end }}

<div class="share-buttons">
{{- if (cond ($custom) (in $ShareButtons "mastodon") (true)) }}
    <a target="_blank" rel="noopener noreferrer" aria-label="share {{ $title | plainify }} on gitlab" href="https://linuxrocks.online/@recbox">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M21.58 13.913c-.29 1.469-2.592 3.121-5.238 3.396-1.379.184-2.737.368-4.185.276-2.368-.092-4.237-.551-4.237-.551 0 .184.014.459.043.643.308 2.294 2.317 2.478 4.22 2.57 1.922 0 3.633-.46 3.633-.46l.079 1.653s-1.344.734-3.738.918c-1.32.091-2.96-.092-4.869-.551-4.14-1.102-4.853-5.507-4.961-10.005-.034-1.285-.013-2.57-.013-3.58 0-4.589 3-5.966 3-5.966 1.513-.734 4.11-1.01 6.808-1.01h.067c2.699 0 5.296.276 6.81 1.01 0 0 3 1.377 3 5.967 0 0 .037 3.304-.419 5.69" stroke="currentColor" />
            <path d="M17.832 8.633v5h-1.978V8.78c0-1.023-.43-1.542-1.29-1.542-.95 0-1.427.616-1.427 1.834v2.655H11.17V9.072c0-1.218-.476-1.834-1.427-1.834-.86 0-1.29.52-1.29 1.542v4.852H6.475V8.633c0-1.022.26-1.834.782-2.434.538-.6 1.243-.909 2.118-.909 1.012 0 1.779.39 2.286 1.169l.492.827.493-.827c.507-.78 1.274-1.169 2.286-1.169.875 0 1.58.308 2.118.909.522.6.782 1.412.782 2.434" fill="currentColor" stroke="none" />
        </svg>
    </a>
{{- end }}
{{- if (cond ($custom) (in $ShareButtons "gitlab") (true)) }}
    <a target="_blank" rel="noopener noreferrer" aria-label="share {{ $title | plainify }} on gitlab" href="https://gitlab.com/users/ProjektRoot/groups">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M22.65 14.39L12 22.13 1.35 14.39a.84.84 0 0 1-.3-.94l1.22-3.78 2.44-7.51A.42.42 0 0 1 4.82 2a.43.43 0 0 1 .58 0 .42.42 0 0 1 .11.18l2.44 7.49h8.1l2.44-7.51A.42.42 0 0 1 18.6 2a.43.43 0 0 1 .58 0 .42.42 0 0 1 .11.18l2.44 7.51L23 13.45a.84.84 0 0 1-.35.94z" />
        </svg>
    </a>
{{- end }}
{{- if (cond ($custom) (in $ShareButtons "odysee") (true)) }}
    <a target="_blank" rel="noopener noreferrer" aria-label="share {{ $title | plainify }} on odysee" href="https://odysee.com/@mr_glitch:e">
        <svg viewBox="0 0 24 24" fill="currentColor" stroke="none" stroke-width="1" xmlns="http://www.w3.org/2000/svg"><path d="m 2.5122649,9.0200173 a 0.23966563,0.22491534 0 0 0 0.082552,-0.327377 0.26629514,0.24990593 0 0 0 -0.3515096,-0.07497 0.26629514,0.24990593 0 0 0 0.2662952,0.402349 z M 17.456749,2.7298853 a 0.23433972,0.21991722 0 0 0 0.07989,-0.329876 0.26629514,0.24990593 0 0 0 -0.348846,-0.07497 0.26629514,0.24990593 0 0 0 -0.07989,0.327377 0.26629514,0.24990593 0 0 0 0.348846,0.077469 z m 3.176901,9.0965757 a 0.2902617,0.27239746 0 1 0 0.351509,-0.202424 0.30091351,0.2823937 0 0 0 -0.351509,0.202424 z m -4.199474,9.196537 c -0.109182,-0.04998 -0.215699,0.02499 -0.266296,0.152443 a 0.22102496,0.20742192 0 1 0 0.266296,-0.152443 z M 4.2138908,4.0293953 a 0.13581052,0.12745203 0 1 0 0.053259,-0.249905 c -0.079889,0 -0.16244,0.02499 -0.16244,0.09996 a 0.11983281,0.11245766 0 0 0 0.1091809,0.147444 z M 5.0713612,16.55468 c -0.109181,0.02499 -0.1890696,0.09996 -0.16244,0.202424 a 0.18374365,0.17243509 0 0 0 0.215699,0.149944 c 0.1065181,0 0.1624401,-0.09996 0.1624401,-0.202424 A 0.18374365,0.17243509 0 0 0 5.0713612,16.552181 Z m 17.9136748,-8.5767707 -0.16244,0.657253 -0.636446,0.284892 0.697693,0.152443 0.298251,0.579782 0.159777,-0.657253 0.63112,-0.267399 -0.700356,-0.152443 z m -9.109957,-4.313377 a 0.26629514,0.24990593 0 0 0 -0.159777,0.352368 1.2222947,1.1470682 0 0 1 0.07989,0.749718 0.30357646,0.28489276 0 0 0 0.242329,0.327377 h 0.05326 a 0.26629514,0.24990593 0 0 0 0.266295,-0.227415 1.6350522,1.5344224 0 0 0 -0.106519,-1.059601 0.26629514,0.24990593 0 0 0 -0.375475,-0.142447 z m -0.133147,-1.08709 a 1.5977708,1.4994356 0 0 0 -0.266295,-0.379857 0.29558761,0.27739558 0 0 0 -0.404769,0 0.2902617,0.27239746 0 0 0 0,0.379857 1.2249577,1.1495673 0 0 1 0.16244,0.249906 0.31422826,0.29488899 0 0 0 0.402105,0.127452 0.30623941,0.28739182 0 0 0 0.106519,-0.377358 z M 23.959676,20.258286 a 34.085778,31.987959 0 0 0 -1.597771,-4.620761 c -0.551231,-1.304508 -2.34606,-2.911403 -3.504444,-3.711103 a 0.84149263,0.78970272 0 0 1 -0.08255,-1.199548 c 1.131754,-1.0246137 3.144945,-2.9988707 3.797368,-4.0309827 0.426072,-0.729725 1.264903,-2.114204 1.302184,-3.313752 0.08255,-0.892164 -0.04793,-1.924276 -1.30751,-2.39659803 A 1.8374365,1.7243509 0 0 0 20.665606,1.2154553 c -0.798886,0.514805 -1.06518,1.924276 -1.616411,3.328747 -0.649761,1.61939 -1.672334,1.824313 -2.212913,1.824313 -0.540579,0 -0.186407,-0.534799 -1.424679,-3.896034 -1.238273,-3.36123403 -4.527019,-2.74896503 -7.0009008,-1.359488 -3.1502714,1.766835 -1.7522221,5.532917 -0.9693144,7.959504 -0.434061,0.404848 -2.1010686,0.707234 -3.608299,1.4644487 -0.9373589,0.472322 -1.7389072,0.777207 -2.5218149,1.366985 -1.08914713,0.822191 -1.56048955,1.749341 -1.18235045,3.013865 a 1.9226509,1.8043208 0 0 0 0.95333665,1.022116 c 0.8894257,0.379857 2.1995977,-0.172435 4.2048002,-1.586903 a 12.300172,11.543155 0 0 1 3.1769008,-1.376981 c 0,0 1.2116427,1.749341 2.3433969,3.816063 1.131755,2.066722 -1.2143055,2.748965 -1.4566341,2.748965 -0.2423285,0 -3.941168,-0.337372 -3.0943495,2.594024 0.8468186,2.931396 5.3046006,1.869296 7.5920756,0.454829 2.287474,-1.414468 1.722929,-6.037728 1.722929,-6.037728 2.234217,-0.327376 2.934573,1.894287 3.152934,3.031359 0.218363,1.137072 -0.266295,3.10883 1.991888,3.158811 a 3.5363994,3.3187507 0 0 0 0.942685,-0.127452 c 1.219632,-0.2649 1.925314,-0.839684 2.215576,-1.451954 a 1.5551636,1.4594506 0 0 0 0.08521,-0.904659 z M 12.690066,6.5134603 C 10.402589,7.3231553 9.2974651,6.2635553 9.1643173,4.3167873 9.001877,2.1176153 11.182835,1.5678223 11.182835,1.5678223 c 2.423286,-0.74971803 3.070383,0.327377 3.634929,1.944268 0.564545,1.616891 0.13581,2.199172 -2.127698,3.006369 z" id="path2" />
        <path d="m 2.5122649,9.0200173 a 0.23966563,0.22491534 0 0 0 0.082552,-0.327377 0.26629514,0.24990593 0 0 0 -0.3515096,-0.07497 0.26629514,0.24990593 0 0 0 0.2662952,0.402349 z M 17.456749,2.7298853 a 0.23433972,0.21991722 0 0 0 0.07989,-0.329876 0.26629514,0.24990593 0 0 0 -0.348846,-0.07497 0.26629514,0.24990593 0 0 0 -0.07989,0.327377 0.26629514,0.24990593 0 0 0 0.348846,0.077469 z m 3.176901,9.0965757 a 0.2902617,0.27239746 0 1 0 0.351509,-0.202424 0.30091351,0.2823937 0 0 0 -0.351509,0.202424 z m -4.199474,9.196537 c -0.109182,-0.04998 -0.215699,0.02499 -0.266296,0.152443 a 0.22102496,0.20742192 0 1 0 0.266296,-0.152443 z M 4.2138908,4.0293953 a 0.13581052,0.12745203 0 1 0 0.053259,-0.249905 c -0.079889,0 -0.16244,0.02499 -0.16244,0.09996 a 0.11983281,0.11245766 0 0 0 0.1091809,0.147444 z M 5.0713612,16.55468 c -0.109181,0.02499 -0.1890696,0.09996 -0.16244,0.202424 a 0.18374365,0.17243509 0 0 0 0.215699,0.149944 c 0.1065181,0 0.1624401,-0.09996 0.1624401,-0.202424 A 0.18374365,0.17243509 0 0 0 5.0713612,16.552181 Z m 17.9136748,-8.5767707 -0.16244,0.657253 -0.636446,0.284892 0.697693,0.152443 0.298251,0.579782 0.159777,-0.657253 0.63112,-0.267399 -0.700356,-0.152443 z m -9.109957,-4.313377 a 0.26629514,0.24990593 0 0 0 -0.159777,0.352368 1.2222947,1.1470682 0 0 1 0.07989,0.749718 0.30357646,0.28489276 0 0 0 0.242329,0.327377 h 0.05326 a 0.26629514,0.24990593 0 0 0 0.266295,-0.227415 1.6350522,1.5344224 0 0 0 -0.106519,-1.059601 0.26629514,0.24990593 0 0 0 -0.375475,-0.142447 z m -0.133147,-1.08709 a 1.5977708,1.4994356 0 0 0 -0.266295,-0.379857 0.29558761,0.27739558 0 0 0 -0.404769,0 0.2902617,0.27239746 0 0 0 0,0.379857 1.2249577,1.1495673 0 0 1 0.16244,0.249906 0.31422826,0.29488899 0 0 0 0.402105,0.127452 0.30623941,0.28739182 0 0 0 0.106519,-0.377358 z M 23.959676,20.258286 a 34.085778,31.987959 0 0 0 -1.597771,-4.620761 c -0.551231,-1.304508 -2.34606,-2.911403 -3.504444,-3.711103 a 0.84149263,0.78970272 0 0 1 -0.08255,-1.199548 c 1.131754,-1.0246137 3.144945,-2.9988707 3.797368,-4.0309827 0.426072,-0.729725 1.264903,-2.114204 1.302184,-3.313752 0.08255,-0.892164 -0.04793,-1.924276 -1.30751,-2.39659803 A 1.8374365,1.7243509 0 0 0 20.665606,1.2154553 c -0.798886,0.514805 -1.06518,1.924276 -1.616411,3.328747 -0.649761,1.61939 -1.672334,1.824313 -2.212913,1.824313 -0.540579,0 -0.186407,-0.534799 -1.424679,-3.896034 -1.238273,-3.36123403 -4.527019,-2.74896503 -7.0009008,-1.359488 -3.1502714,1.766835 -1.7522221,5.532917 -0.9693144,7.959504 -0.434061,0.404848 -2.1010686,0.707234 -3.608299,1.4644487 -0.9373589,0.472322 -1.7389072,0.777207 -2.5218149,1.366985 -1.08914713,0.822191 -1.56048955,1.749341 -1.18235045,3.013865 a 1.9226509,1.8043208 0 0 0 0.95333665,1.022116 c 0.8894257,0.379857 2.1995977,-0.172435 4.2048002,-1.586903 a 12.300172,11.543155 0 0 1 3.1769008,-1.376981 c 0,0 1.2116427,1.749341 2.3433969,3.816063 1.131755,2.066722 -1.2143055,2.748965 -1.4566341,2.748965 -0.2423285,0 -3.941168,-0.337372 -3.0943495,2.594024 0.8468186,2.931396 5.3046006,1.869296 7.5920756,0.454829 2.287474,-1.414468 1.722929,-6.037728 1.722929,-6.037728 2.234217,-0.327376 2.934573,1.894287 3.152934,3.031359 0.218363,1.137072 -0.266295,3.10883 1.991888,3.158811 a 3.5363994,3.3187507 0 0 0 0.942685,-0.127452 c 1.219632,-0.2649 1.925314,-0.839684 2.215576,-1.451954 a 1.5551636,1.4594506 0 0 0 0.08521,-0.904659 z M 12.690066,6.5134603 C 10.402589,7.3231553 9.2974651,6.2635553 9.1643173,4.3167873 9.001877,2.1176153 11.182835,1.5678223 11.182835,1.5678223 c 2.423286,-0.74971803 3.070383,0.327377 3.634929,1.944268 0.564545,1.616891 0.13581,2.199172 -2.127698,3.006369 z" id="path2" style="stroke-width:0.25797" />
        </svg>
    </a>
    {{- end }}
    {{- if (cond ($custom) (in $ShareButtons "manjaro") (true)) }}
    <a target="_blank" rel="noopener noreferrer" aria-label="share {{ $title | plainify }} on manjaro" href="https://forum.manjaro.org/t/recbox-toolkit-home-studio/108415">
        <svg viewBox="0 0 24 24" fill="currentColor" stroke="none" stroke-width="1" xmlns="http://www.w3.org/2000/svg">
            <<path d="M 2.181862,-1.2e-4 C 0.97309,-1.2e-4 0,0.972982 0,2.181742 V 21.818738 C 0,23.02751 0.973102,24.0006 2.181862,24.0006 H 6.545585 V 6.546425 h 8.727328 V 9.6e-4 Z m 15.272553,0 v 24.00024 h 4.363723 C 23.02691,24.00012 24,23.027018 24,21.818258 V 2.181262 C 24,0.97249 23.026898,-6e-4 21.818138,-6e-4 Z M 8.727087,8.727207 V 23.99976 h 6.545466 V 8.727207 Z" />
        </svg>
    </a>
    {{- end }}
</div>
